#include <windows.h>
#include "resource.h"

IDI_APPICON ICON "app.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Bloomberg Terminal (local)"
            VALUE "FileDescription",  "Bloomberg Terminal Launcher"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "BloombergTerminal"
            VALUE "OriginalFilename", "BloombergTerminal.exe"
            VALUE "ProductName",      "Bloomberg Terminal"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
